.dxeButtonEditButtonHover_Youthful .dxEditors_edtClear_Youthful,
.dxEditors_caRefresh_Youthful,
.dxEditors_edtBinaryImageDelete_Youthful,
.dxEditors_edtBinaryImageOpenDialog_Youthful,
.dxEditors_edtCalendarFNNextYear_Youthful,
.dxEditors_edtCalendarFNPrevYear_Youthful,
.dxEditors_edtCalendarNextMonth_Youthful,
.dxEditors_edtCalendarNextMonthDisabled_Youthful,
.dxEditors_edtCalendarNextYear_Youthful,
.dxEditors_edtCalendarNextYearDisabled_Youthful,
.dxEditors_edtCalendarPrevMonth_Youthful,
.dxEditors_edtCalendarPrevMonthDisabled_Youthful,
.dxEditors_edtCalendarPrevYear_Youthful,
.dxEditors_edtCalendarPrevYearDisabled_Youthful,
.dxEditors_edtClear_Youthful,
.dxEditors_edtDETSClockFace_Youthful,
.dxEditors_edtDETSHourHand_Youthful,
.dxEditors_edtDETSMinuteHand_Youthful,
.dxEditors_edtDETSSecondHand_Youthful,
.dxEditors_edtDropDown_Youthful,
.dxEditors_edtDropDownDisabled_Youthful,
.dxEditors_edtEllipsis_Youthful,
.dxEditors_edtEllipsisDisabled_Youthful,
.dxEditors_edtError_Youthful,
.dxEditors_edtRadioButtonChecked_Youthful,
.dxEditors_edtRadioButtonCheckedDisabled_Youthful,
.dxEditors_edtRadioButtonUnchecked_Youthful,
.dxEditors_edtRadioButtonUncheckedDisabled_Youthful,
.dxEditors_edtSpinEditDecrementImage_Youthful,
.dxEditors_edtSpinEditDecrementImageDisabled_Youthful,
.dxEditors_edtSpinEditIncrementImage_Youthful,
.dxEditors_edtSpinEditIncrementImageDisabled_Youthful,
.dxEditors_edtSpinEditLargeDecImage_Youthful,
.dxEditors_edtSpinEditLargeDecImageDisabled_Youthful,
.dxEditors_edtSpinEditLargeIncImage_Youthful,
.dxEditors_edtSpinEditLargeIncImageDisabled_Youthful,
.dxEditors_edtTBDecBtn_Youthful,
.dxEditors_edtTBDecBtnDisabled_Youthful,
.dxEditors_edtTBDecBtnHover_Youthful,
.dxEditors_edtTBDecBtnPressed_Youthful,
.dxEditors_edtTBIncBtn_Youthful,
.dxEditors_edtTBIncBtnDisabled_Youthful,
.dxEditors_edtTBIncBtnHover_Youthful,
.dxEditors_edtTBIncBtnPressed_Youthful,
.dxEditors_edtTokenBoxTokenRemoveButton_Youthful,
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_Youthful,
.dxEditors_fcadd_Youthful,
.dxEditors_fcaddhot_Youthful,
.dxEditors_fcgroupaddcondition_Youthful,
.dxEditors_fcgroupaddgroup_Youthful,
.dxEditors_fcgroupand_Youthful,
.dxEditors_fcgroupnotand_Youthful,
.dxEditors_fcgroupnotor_Youthful,
.dxEditors_fcgroupor_Youthful,
.dxEditors_fcgroupremove_Youthful,
.dxEditors_fcopany_Youthful,
.dxEditors_fcopbegin_Youthful,
.dxEditors_fcopbetween_Youthful,
.dxEditors_fcopblank_Youthful,
.dxEditors_fcopcontain_Youthful,
.dxEditors_fcopend_Youthful,
.dxEditors_fcopequal_Youthful,
.dxEditors_fcopgreater_Youthful,
.dxEditors_fcopgreaterorequal_Youthful,
.dxEditors_fcopless_Youthful,
.dxEditors_fcoplessorequal_Youthful,
.dxEditors_fcoplike_Youthful,
.dxEditors_fcopnotany_Youthful,
.dxEditors_fcopnotbetween_Youthful,
.dxEditors_fcopnotblank_Youthful,
.dxEditors_fcopnotcontain_Youthful,
.dxEditors_fcopnotequal_Youthful,
.dxEditors_fcopnotlike_Youthful,
.dxEditors_fcremove_Youthful,
.dxEditors_fcremovehot_Youthful,
.dxeFocused_Youthful .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Youthful,
.dxeFocused_Youthful .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Youthful,
.dxeFocused_Youthful .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Youthful,
.dxeFocused_Youthful .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Youthful,
.dxeFocused_Youthful .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Youthful,
.dxeFocused_Youthful .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Youthful,
.dxeFocused_Youthful .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Youthful,
.dxeFocused_Youthful .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Youthful,
.dxeFocused_Youthful .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Youthful,
.dxeFocused_Youthful .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Youthful,
.dxeFocused_Youthful .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Youthful,
.dxeFocused_Youthful .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Youthful,
.dxeTBHSys .dxEditors_edtTBMainDH_Youthful,
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_Youthful,
.dxeTBHSys .dxEditors_edtTBMainDHHover_Youthful,
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Youthful,
.dxeTBHSys .dxEditors_edtTBSecondaryDH_Youthful,
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_Youthful,
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_Youthful,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Youthful,
.dxeTBVSys .dxEditors_edtTBMainDH_Youthful,
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_Youthful,
.dxeTBVSys .dxEditors_edtTBMainDHHover_Youthful,
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Youthful,
.dxeTBVSys .dxEditors_edtTBSecondaryDH_Youthful,
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_Youthful,
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_Youthful,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Youthful
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxeButtonEditButtonHover_Youthful .dxEditors_edtClear_Youthful
{
    background-position: -14px -173px;
    width: 13px;
    height: 13px;
}
.dxEditors_caRefresh_Youthful
{
    background-position: -98px -157px;
    width: 13px;
    height: 13px;
}
.dxEditors_edtBinaryImageDelete_Youthful
{
    background-position: -126px -77px;
    width: 32px;
    height: 32px;
}
.dxEditors_edtBinaryImageOpenDialog_Youthful
{
    background-position: 0px -110px;
    width: 32px;
    height: 32px;
}
.dxEditors_edtCalendarFNNextYear_Youthful
{
    background-position: -71px -214px;
    width: 6px;
    height: 9px;
}
.dxEditors_edtCalendarFNPrevYear_Youthful
{
    background-position: -85px -214px;
    width: 6px;
    height: 9px;
}
.dxEditors_edtCalendarNextMonth_Youthful
{
    background-position: -82px -187px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarNextMonthDisabled_Youthful
{
    background-position: -70px -187px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarNextYear_Youthful
{
    background-position: -118px -187px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarNextYearDisabled_Youthful
{
    background-position: -142px -187px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarPrevMonth_Youthful
{
    background-position: -106px -187px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarPrevMonthDisabled_Youthful
{
    background-position: 0px -201px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarPrevYear_Youthful
{
    background-position: -130px -187px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtCalendarPrevYearDisabled_Youthful
{
    background-position: -94px -187px;
    width: 11px;
    height: 12px;
}
.dxEditors_edtClear_Youthful
{
    background-position: 0px -173px;
    width: 13px;
    height: 13px;
}
.dxEditors_edtDETSClockFace_Youthful
{
    background-position: 0px 0px;
    width: 109px;
    height: 109px;
}
.dxEditors_edtDETSHourHand_Youthful
{
    background-position: -126px 0px;
    width: 7px;
    height: 52px;
}
.dxEditors_edtDETSMinuteHand_Youthful
{
    background-position: -134px 0px;
    width: 7px;
    height: 52px;
}
.dxEditors_edtDETSSecondHand_Youthful
{
    background-position: -118px 0px;
    width: 7px;
    height: 73px;
}
.dxEditors_edtDETSSecondHand_Youthful
{
    background-position: -110px 0px \9;
    width: 7px \9;
    height: 73px \9;
}
.dxEditors_edtDropDown_Youthful
{
    background-position: -126px -53px;
    width: 9px;
    height: 7px;
}
.dxEditors_edtDropDownDisabled_Youthful
{
    background-position: -106px -214px;
    width: 9px;
    height: 7px;
}
.dxEditors_edtEllipsis_Youthful
{
    background-position: -148px -214px;
    width: 10px;
    height: 2px;
}
.dxEditors_edtEllipsisDisabled_Youthful
{
    background-position: -110px -74px;
    width: 10px;
    height: 2px;
}
.dxEditors_edtError_Youthful
{
    background-position: -110px -79px;
    width: 14px;
    height: 14px;
}
.dxEditors_edtRadioButtonChecked_Youthful
{
    background-position: -110px -94px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtRadioButtonCheckedDisabled_Youthful
{
    background-position: -142px -29px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtRadioButtonUnchecked_Youthful
{
    background-position: -126px -61px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtRadioButtonUncheckedDisabled_Youthful
{
    background-position: -142px -45px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtSpinEditDecrementImage_Youthful
{
    background-position: -140px -214px;
    width: 7px;
    height: 5px;
}
.dxEditors_edtSpinEditDecrementImageDisabled_Youthful
{
    background-position: -116px -214px;
    width: 7px;
    height: 5px;
}
.dxEditors_edtSpinEditIncrementImage_Youthful
{
    background-position: -124px -214px;
    width: 7px;
    height: 5px;
}
.dxEditors_edtSpinEditIncrementImageDisabled_Youthful
{
    background-position: -132px -214px;
    width: 7px;
    height: 5px;
}
.dxEditors_edtSpinEditLargeDecImage_Youthful
{
    background-position: -64px -214px;
    width: 6px;
    height: 9px;
}
.dxEditors_edtSpinEditLargeDecImageDisabled_Youthful
{
    background-position: -92px -214px;
    width: 6px;
    height: 9px;
}
.dxEditors_edtSpinEditLargeIncImage_Youthful
{
    background-position: -78px -214px;
    width: 6px;
    height: 9px;
}
.dxEditors_edtSpinEditLargeIncImageDisabled_Youthful
{
    background-position: -99px -214px;
    width: 6px;
    height: 9px;
}
.dxEditors_edtTBDecBtn_Youthful
{
    background-position: -53px -110px;
    width: 19px;
    height: 15px;
}
.dxEditors_edtTBDecBtnDisabled_Youthful
{
    background-position: -33px -110px;
    width: 19px;
    height: 15px;
}
.dxEditors_edtTBDecBtnHover_Youthful
{
    background-position: -93px -110px;
    width: 19px;
    height: 15px;
}
.dxEditors_edtTBDecBtnPressed_Youthful
{
    background-position: -133px -110px;
    width: 19px;
    height: 15px;
}
.dxEditors_edtTBIncBtn_Youthful
{
    background-position: -119px -127px;
    width: 19px;
    height: 15px;
}
.dxEditors_edtTBIncBtnDisabled_Youthful
{
    background-position: -113px -110px;
    width: 19px;
    height: 15px;
}
.dxEditors_edtTBIncBtnHover_Youthful
{
    background-position: -139px -127px;
    width: 19px;
    height: 15px;
}
.dxEditors_edtTBIncBtnPressed_Youthful
{
    background-position: -73px -110px;
    width: 19px;
    height: 15px;
}
.dxEditors_edtTokenBoxTokenRemoveButton_Youthful
{
    background-position: -142px -61px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_Youthful
{
    background-position: -142px 0px;
    width: 15px;
    height: 15px;
}
.dxEditors_fcadd_Youthful
{
    background-position: -28px -173px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcaddhot_Youthful
{
    background-position: -56px -187px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupaddcondition_Youthful
{
    background-position: -98px -173px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupaddgroup_Youthful
{
    background-position: -84px -143px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupand_Youthful
{
    background-position: -56px -173px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupnotand_Youthful
{
    background-position: -70px -173px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupnotor_Youthful
{
    background-position: -98px -143px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupor_Youthful
{
    background-position: -84px -157px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupremove_Youthful
{
    background-position: -28px -187px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopany_Youthful
{
    background-position: -70px -143px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopbegin_Youthful
{
    background-position: -126px -143px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopbetween_Youthful
{
    background-position: 0px -143px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopblank_Youthful
{
    background-position: -28px -143px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopcontain_Youthful
{
    background-position: -112px -143px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopend_Youthful
{
    background-position: -14px -187px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopequal_Youthful
{
    background-position: -42px -173px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopgreater_Youthful
{
    background-position: -140px -157px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopgreaterorequal_Youthful
{
    background-position: -112px -157px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopless_Youthful
{
    background-position: -126px -157px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoplessorequal_Youthful
{
    background-position: -42px -187px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoplike_Youthful
{
    background-position: -112px -173px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotany_Youthful
{
    background-position: -84px -173px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotbetween_Youthful
{
    background-position: 0px -187px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotblank_Youthful
{
    background-position: -140px -173px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotcontain_Youthful
{
    background-position: -126px -173px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotequal_Youthful
{
    background-position: -140px -143px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotlike_Youthful
{
    background-position: -56px -143px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcremove_Youthful
{
    background-position: -42px -143px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcremovehot_Youthful
{
    background-position: -14px -143px;
    width: 13px;
    height: 13px;
}
.dxeFocused_Youthful .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Youthful
{
    background-position: -71px -127px;
    width: 11px;
    height: 15px;
}
.dxeFocused_Youthful .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Youthful
{
    background-position: 0px -157px;
    width: 11px;
    height: 15px;
}
.dxeFocused_Youthful .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Youthful
{
    background-position: -59px -127px;
    width: 11px;
    height: 15px;
}
.dxeFocused_Youthful .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Youthful
{
    background-position: -24px -157px;
    width: 11px;
    height: 15px;
}
.dxeFocused_Youthful .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Youthful
{
    background-position: -48px -157px;
    width: 11px;
    height: 15px;
}
.dxeFocused_Youthful .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Youthful
{
    background-position: -95px -127px;
    width: 11px;
    height: 15px;
}
.dxeFocused_Youthful .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Youthful
{
    background-position: -124px -201px;
    width: 15px;
    height: 11px;
}
.dxeFocused_Youthful .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Youthful
{
    background-position: -76px -201px;
    width: 15px;
    height: 11px;
}
.dxeFocused_Youthful .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Youthful
{
    background-position: -60px -201px;
    width: 15px;
    height: 11px;
}
.dxeFocused_Youthful .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Youthful
{
    background-position: -140px -201px;
    width: 15px;
    height: 11px;
}
.dxeFocused_Youthful .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Youthful
{
    background-position: -12px -201px;
    width: 15px;
    height: 11px;
}
.dxeFocused_Youthful .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Youthful
{
    background-position: -44px -201px;
    width: 15px;
    height: 11px;
}
.dxeTBHSys .dxEditors_edtTBMainDH_Youthful
{
    background-position: -35px -127px;
    width: 11px;
    height: 15px;
}
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_Youthful
{
    background-position: -60px -157px;
    width: 11px;
    height: 15px;
}
.dxeTBHSys .dxEditors_edtTBMainDHHover_Youthful
{
    background-position: -83px -127px;
    width: 11px;
    height: 15px;
}
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Youthful
{
    background-position: -72px -157px;
    width: 11px;
    height: 15px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDH_Youthful
{
    background-position: -36px -157px;
    width: 11px;
    height: 15px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_Youthful
{
    background-position: -47px -127px;
    width: 11px;
    height: 15px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_Youthful
{
    background-position: -107px -127px;
    width: 11px;
    height: 15px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Youthful
{
    background-position: -12px -157px;
    width: 11px;
    height: 15px;
}
.dxeTBVSys .dxEditors_edtTBMainDH_Youthful
{
    background-position: -48px -214px;
    width: 15px;
    height: 11px;
}
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_Youthful
{
    background-position: -16px -214px;
    width: 15px;
    height: 11px;
}
.dxeTBVSys .dxEditors_edtTBMainDHHover_Youthful
{
    background-position: -28px -201px;
    width: 15px;
    height: 11px;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Youthful
{
    background-position: -108px -201px;
    width: 15px;
    height: 11px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDH_Youthful
{
    background-position: -32px -214px;
    width: 15px;
    height: 11px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_Youthful
{
    background-position: -142px -17px;
    width: 15px;
    height: 11px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_Youthful
{
    background-position: 0px -214px;
    width: 15px;
    height: 11px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Youthful
{
    background-position: -92px -201px;
    width: 15px;
    height: 11px;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Youthful,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Youthful
{
	z-index: 7;
}
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Youthful,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Youthful
{
	z-index: 7;
}
.dxEditors_edtError_Youthful,
.dxEditors_edtCalendarPrevYear_Youthful,
.dxEditors_edtCalendarPrevYearDisabled_Youthful,
.dxEditors_edtCalendarPrevMonth_Youthful,
.dxEditors_edtCalendarPrevMonthDisabled_Youthful,
.dxEditors_edtCalendarNextMonth_Youthful,
.dxEditors_edtCalendarNextMonthDisabled_Youthful,
.dxEditors_edtCalendarNextYear_Youthful,
.dxEditors_edtCalendarNextYearDisabled_Youthful,
.dxEditors_edtCalendarFNPrevYear_Youthful,
.dxEditors_edtCalendarFNNextYear_Youthful,
.dxEditors_edtCheckBoxOn_Youthful,
.dxEditors_edtCheckBoxOff_Youthful,
.dxEditors_edtCheckBoxUndefined_Youthful,
.dxEditors_edtRadioButtonOn_Youthful,
.dxEditors_edtRadioButtonOff_Youthful,
.dxEditors_edtRadioButtonUndefined_Youthful,
.dxEditors_edtEllipsis_Youthful,
.dxEditors_edtEllipsisDisabled_Youthful,
.dxEditors_edtDropDown_Youthful,
.dxEditors_edtDropDownDisabled_Youthful,
.dxEditors_edtSpinEditIncrementImage_Youthful,
.dxEditors_edtSpinEditIncrementImageDisabled_Youthful,
.dxEditors_edtSpinEditDecrementImage_Youthful,
.dxEditors_edtSpinEditDecrementImageDisabled_Youthful,
.dxEditors_edtSpinEditLargeIncImage_Youthful,
.dxEditors_edtSpinEditLargeIncImageDisabled_Youthful,
.dxEditors_edtSpinEditLargeDecImage_Youthful,
.dxEditors_edtSpinEditLargeDecImageDisabled_Youthful
{
	display:block;
	margin:auto;
}
.dxEditors_edtCalendarFNPrevYear_Youthful
{
    margin-right: 14px;
}
.dxEditors_edtCalendarFNNextYear_Youthful
{
    margin-left: 14px;
}

