.dxreControl_Office2003Silver
{
	border-style: solid;
	border-width: 1px;
	border-color: #7C7C94;
	font: 12px Tahoma, Geneva, sans-serif;
}
.dxreControl_Office2003Silver .dxre-rulerWrapper {
	padding-top: 2px;
    background-color: #ECECF6;
}
.dxreControl_Office2003Silver .dxre-ruler .dxre-columnHandleLeftPart,
.dxreControl_Office2003Silver .dxre-ruler .dxre-columnHandleRightPart {
    width: 5px;
    background-color: #bcb8b8;
}
.dxreControl_Office2003Silver .dxre-ruler .dxre-rulerDivisions,
.dxreControl_Office2003Silver .dxre-ruler .dxre-rulerDivisions div,
.dxreControl_Office2003Silver .dxre-ruler .dxre-rulerMarginLeftPanel,
.dxreControl_Office2003Silver .dxre-ruler .dxre-rulerMarginRightPanel,
.dxreControl_Office2003Silver .dxre-ruler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_Office2003Silver .dxre-ruler .dxre-rulerMarginRightHandlePanel,
.dxreControl_Office2003Silver .dxre-ruler .dxre-columnHandle,
.dxreControl_Office2003Silver .dxre-ruler .dxre-columnHandle > div  {
	height: 12px;
}
.dxreControl_Office2003Silver .dxre-ruler .dxre-rulerDivisions,
.dxreControl_Office2003Silver .dxre-rulerWrapper .dxre-rulertabAlignBox > div {
    background-color: #fff;
}
.dxreControl_Office2003Silver .dxre-ruler .dxre-rulerMarginLeftPanel,
.dxreControl_Office2003Silver .dxre-ruler .dxre-rulerMarginRightPanel,
.dxreControl_Office2003Silver .dxre-ruler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_Office2003Silver .dxre-ruler .dxre-rulerMarginRightHandlePanel,
.dxreControl_Office2003Silver .dxre-ruler .dxre-columnHandle,
.dxreControl_Office2003Silver .dxre-rulerWrapper .dxre-rulertabAlignBox {
    background-color: #d3d3d3;
}
.dxreControl_Office2003Silver .dxre-ruler .dxre-rulerDivisions .dxre-rulerMinorDivision,
.dxreControl_Office2003Silver .dxre-ruler .dxre-rulerDivisions .dxre-rulerMajorDivision {
	border-left: 1px solid #a3a3a3;
}
.dxreControl_Office2003Silver .dxre-ruler .dxre-rulerDivisions .dxre-rulerNumberDivision {
	color: #4e4e4e;
}
.dxreControl_Office2003Silver .dxre-rulerLine {
	border-left: 1px dashed #717171;
}
.dxreControl_Office2003Silver .dxre-leftIdentDragHandleBody {
    background-color: white;
    border: 1px solid #929292;
    border-top: none;
    height: 6px;
    box-sizing: border-box;
}
.dxreControl_Office2003Silver .dxrControl_Office2003Silver .dxr-minBtn 
{
	padding-right: 7px;
}
.dxreControl_Office2003Silver .dxrControl_Office2003Silver .dxtcLite_Office2003Silver
{
	background-color: #E3E3EC;
}
.dxreControl_Office2003Silver .dxrControl_Office2003Silver .dxr-tabContent 
{
	border-left-style: none;
	border-right-style: none;
}
.dxreControl_Office2003Silver .dxrControl_Office2003Silver .dxtcLite_Office2003Silver.dxtc-top .dxtc-leftIndent
{
	width: 3px;
}
.dxreControl_Office2003Silver .dxre-page 
{
    border: 1px solid #808080;
}
.dxreControl_Office2003Silver .dxre-view 
{
	background: #ECECF6;
}
.dxreControl_Office2003Silver .dxre-bar 
{
	background-color: #E3E3EC;
	border-top: 1px solid #9c9ab7;
    height: 22px;
}
.dxreControl_Office2003Silver .dxre-bar .dxre-loadingPanel {
    float: right;
    margin: 2px 2px 0 0;
    color: #000;
}
.dxreControl_Office2003Silver .dxre-bar .dxre-loadingPanel .dx {
    line-height: 0;
}
.dxreControl_Office2003Silver .dxre-bar .dxre-loadingPanel .dxlp-loadingImage {
    width: 18px;
    height: 18px;
    background: url('reLoadingOnStatusBar.gif');
}

/*Dialogs Style*/
.dxreControl_Office2003Silver .dxreDlgParagraphForm .dxtc-content {
    width: 430px;
    height: 290px;
}
.dxreControl_Office2003Silver .dxreDlgPageSetupForm .dxtc-content {
    width: 350px;
    height: 230px;
}
.dxreControl_Office2003Silver .dxreDlgColumnsForm {
    width: 400px;
}
.dxreControl_Office2003Silver .dxreDlgColumnsForm .dxreDlgColumnsEditorMainTable > tbody > tr > td {
    padding: 2px 4px;
}
.dxreControl_Office2003Silver .dxreDlgColumnsForm .dxreDlgColumnsEditor {
    height: 100px;
}
.dxreControl_Office2003Silver .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgTextBox {
    width: 40px;
}
.dxreControl_Office2003Silver .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgSpinEdit {
    width: 90px;
}
.dxreControl_Office2003Silver .dxreDlgErrorForm {
    width: 350px;
}
.dxreControl_Office2003Silver .dxreDlgCaptionCell {
	padding-left: 5px;
    padding-right: 7px;
    padding-top: 3px;
}
.dxreControl_Office2003Silver .dxreDlgContentCell {
	padding: 11px;
}
.dxreControl_Office2003Silver .dxreDlgHeaderCell {
	padding-bottom: 7px;
}
.dxreControl_Office2003Silver .dxreDlgEmptyLine {
	height: 8px;
}
.dxreControl_Office2003Silver .dxreDlgEditor {
    width: 110px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_Office2003Silver .dxreDlgEditorShort {
    width: 70px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_Office2003Silver .dxreDlgEditorLong {
    width: 170px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_Office2003Silver .dxreDlgFooterBtn {
    width: 80px;
    margin-left: 8px;
}
.dxreControl_Office2003Silver .dxreDlgPageSetupApplyTo {
	bottom: 70px;
	left: 23px;
}
.dxreControl_Office2003Silver .dxreDlgTypeRadionButtonListCell {
	padding-bottom: 10px;
}
.dxreControl_Office2003Silver .dxreDlgFooter {
	height: 27px;
	padding: 10px 11px 11px 10px;
    background-color: #D4D4E2;
    border-top: Solid 1px #BBBBD1;
}
.dxreControl_Office2003Silver .dxreDlgInsertImageForm .dxreDlgImagePreview {
    padding-top: 10px;
}
.dxreControl_Office2003Silver .dxreDlgInsertImageForm .dxreDlgImagePreviewCell {
    height: 170px;
    color: #808080;
    border: dashed 1px #808080;
}
.dxreControl_Office2003Silver .dxreDlgInsertImageForm .dxreDlgImagePreviewCell img {
    width: 180px;
    height: 100px;
}
.dxreControl_Office2003Silver .dxreDlgInsertImageForm .dxreDlgInsertImagePanel {
    width: 315px;
}
.dxreControl_Office2003Silver .dxreDlgNumberingListForm .dxreDlgMainContainer {
    width: 520px;
    height: 220px;
}
.dxreControl_Office2003Silver .dxreDlgHyperlinkForm {
    width: 380px;
}
.dxreControl_Office2003Silver .dxreDlgTabsForm {
    width: 380px;
}
.dxreControl_Office2003Silver .dxreDlgTabsForm .dxreDlgTabsList {
    height: 70px;
}
.dxreControl_Office2003Silver .dxreMultiLevelNumberingListBox {
    width: 40px;
    height: 195px;
}
.dxreControl_Office2003Silver .dxreDlgBulletedListForm .dxreDlgBulletPresetBtn {
    width: 45px;
    margin: 8px 0px 12px 5px;
}
.dxreControl_Office2003Silver .dxreDlgListBox {
    padding: 1px;
}
.dxreControl_Office2003Silver .dxreDlgSymbolsForm .dxreDlgSymbolsList {
    width: 500px;
    height: 250px;
    border: 1px solid #7C7C94;
}
.dxreControl_Office2003Silver .dxreDlgListBox > div {
    border: 1px solid #7C7C94;
    margin: 1px;
    background-color: #FFF;
}
.dxreControl_Office2003Silver .dxreDlgSymbolsForm .dxreDlgListBox > div {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: large;
}
.dxreControl_Office2003Silver .dxreDlgNumberingListForm .dxreDlgListBox > div {
    width: 120px;
    height: 120px;
    line-height: 120px;
}
.dxreControl_Office2003Silver .dxreDlgNumberingListForm .dxreDlgNumberingListPreview {
    padding: 10px;
    width: 90px;
    height: 90px;
}
.dxreControl_Office2003Silver .dxreDlgListBox .dxreDlgListHover {
    background-color: #DFDFDF;
}
.dxreControl_Office2003Silver .dxreDlgListBox .dxreDlgListSelected {
    background-color: #FFC076;
}
