.dxreControl_SoftOrange
{
	border-style: solid;
	border-width: 3px;
	border-color: #D3D3D3;
	font: 12px Tahoma, Geneva, sans-serif;
}
.dxreControl_SoftOrange .dxre-rulerWrapper {
	padding-top: 2px;
    background-color: #F9F9F9;
}
.dxreControl_SoftOrange .dxre-ruler .dxre-columnHandleLeftPart,
.dxreControl_SoftOrange .dxre-ruler .dxre-columnHandleRightPart {
    width: 5px;
    background-color: #bcb8b8;
}
.dxreControl_SoftOrange .dxre-ruler .dxre-rulerDivisions,
.dxreControl_SoftOrange .dxre-ruler .dxre-rulerDivisions div,
.dxreControl_SoftOrange .dxre-ruler .dxre-rulerMarginLeftPanel,
.dxreControl_SoftOrange .dxre-ruler .dxre-rulerMarginRightPanel,
.dxreControl_SoftOrange .dxre-ruler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_SoftOrange .dxre-ruler .dxre-rulerMarginRightHandlePanel,
.dxreControl_SoftOrange .dxre-ruler .dxre-columnHandle,
.dxreControl_SoftOrange .dxre-ruler .dxre-columnHandle > div {
	height: 12px;
}
.dxreControl_SoftOrange .dxre-ruler .dxre-rulerDivisions,
.dxreControl_SoftOrange .dxre-rulerWrapper .dxre-rulertabAlignBox > div {
    background-color: #fff;
}
.dxreControl_SoftOrange .dxre-ruler .dxre-rulerMarginLeftPanel,
.dxreControl_SoftOrange .dxre-ruler .dxre-rulerMarginRightPanel,
.dxreControl_SoftOrange .dxre-ruler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_SoftOrange .dxre-ruler .dxre-rulerMarginRightHandlePanel,
.dxreControl_SoftOrange .dxre-ruler .dxre-columnHandle,
.dxreControl_SoftOrange .dxre-rulerWrapper .dxre-rulertabAlignBox {
    background-color: #d3d3d3;
}
.dxreControl_SoftOrange .dxre-ruler .dxre-rulerDivisions .dxre-rulerMinorDivision,
.dxreControl_SoftOrange .dxre-ruler .dxre-rulerDivisions .dxre-rulerMajorDivision {
	border-left: 1px solid #a3a3a3;
}
.dxreControl_SoftOrange .dxre-ruler .dxre-rulerDivisions .dxre-rulerNumberDivision {
	color: #4e4e4e;
}
.dxreControl_SoftOrange .dxre-rulerLine {
	border-left: 1px dashed #717171;
}
.dxreControl_SoftOrange .dxre-leftIdentDragHandleBody {
    background-color: white;
    border: 1px solid #929292;
    border-top: none;
    height: 6px;
    box-sizing: border-box;
}
.dxreControl_SoftOrange .dxrControl_SoftOrange .dxr-minBtn 
{
	padding-right: 7px;
}
.dxreControl_SoftOrange .dxrControl_SoftOrange .dxtcLite_SoftOrange
{
	background-color: #E5E5E5;
}
.dxreControl_SoftOrange .dxrControl_SoftOrange .dxr-tabContent 
{
	border-left-style: none;
	border-right-style: none;
}
.dxreControl_SoftOrange .dxrControl_SoftOrange .dxtcLite_SoftOrange.dxtc-top .dxtc-leftIndent
{
	width: 3px;
}
.dxreControl_SoftOrange .dxre-page 
{
    border: 1px solid #A0A0A0;
}
.dxreControl_SoftOrange .dxre-view 
{
	background: #F9F9F9;
}
.dxreControl_SoftOrange .dxre-bar 
{
	background-color: #F9F9F9;
	border-top: 1px solid #9F9F9F;
    height: 22px;
}
.dxreControl_SoftOrange .dxre-bar .dxre-loadingPanel {
    float: right;
    margin: 3px 2px 0 0;
    color: #707070;
}
.dxreControl_SoftOrange .dxre-bar .dxre-loadingPanel .dx {
    line-height: 0;
}
.dxreControl_SoftOrange .dxre-bar .dxre-loadingPanel .dxlp-loadingImage {
    width: 16px;
    height: 16px;
    background: url('reLoadingOnStatusBar.gif');
}

/*Dialogs Style*/
.dxreControl_SoftOrange .dxreDlgParagraphForm .dxtc-content {
    width: 430px;
    height: 290px;
}
.dxreControl_SoftOrange .dxreDlgPageSetupForm .dxtc-content {
    width: 350px;
    height: 230px;
}
.dxreControl_SoftOrange .dxreDlgColumnsForm {
    width: 400px;
}
.dxreControl_SoftOrange .dxreDlgColumnsForm .dxreDlgColumnsEditorMainTable > tbody > tr > td {
    padding: 2px 4px;
}
.dxreControl_SoftOrange .dxreDlgColumnsForm .dxreDlgColumnsEditor {
    height: 100px;
}
.dxreControl_SoftOrange .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgTextBox {
    width: 40px;
}
.dxreControl_SoftOrange .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgSpinEdit {
    width: 90px;
}
.dxreControl_SoftOrange .dxreDlgErrorForm {
    width: 350px;
}
.dxreControl_SoftOrange .dxreDlgCaptionCell {
	padding-left: 5px;
    padding-right: 7px;
    padding-top: 3px;
}
.dxreControl_SoftOrange .dxreDlgContentCell {
	padding: 11px;
}
.dxreControl_SoftOrange .dxreDlgHeaderCell {
	padding-bottom: 7px;
}
.dxreControl_SoftOrange .dxreDlgEmptyLine {
	height: 8px;
}
.dxreControl_SoftOrange .dxreDlgEditor {
    width: 110px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_SoftOrange .dxreDlgEditorShort {
    width: 70px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_SoftOrange .dxreDlgEditorLong {
    width: 170px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_SoftOrange .dxreDlgFooterBtn {
    width: 80px;
    margin-left: 8px;
}
.dxreControl_SoftOrange .dxreDlgPageSetupApplyTo {
	bottom: 75px;
	left: 23px;
}
.dxreControl_SoftOrange .dxreDlgTypeRadionButtonListCell {
	padding-bottom: 10px;
}
.dxreControl_SoftOrange .dxreDlgFooter {
	height: 27px;
	padding: 10px 10px 11px 10px;
    background-color: #F9F9F9;
    border-top: solid 3px #E0E0E0;
}
.dxreControl_SoftOrange .dxreDlgInsertImageForm .dxreDlgImagePreview {
    padding-top: 10px;
}
.dxreControl_SoftOrange .dxreDlgInsertImageForm .dxreDlgImagePreviewCell {
    height: 170px;
    color: #808080;
    border: dashed 1px #808080;
}
.dxreControl_SoftOrange .dxreDlgInsertImageForm .dxreDlgImagePreviewCell img {
    width: 180px;
    height: 100px;
}
.dxreControl_SoftOrange .dxreDlgInsertImageForm .dxreDlgInsertImagePanel {
    width: 315px;
}
.dxreControl_SoftOrange .dxreDlgNumberingListForm .dxreDlgMainContainer {
    width: 520px;
    height: 220px;
}
.dxreControl_SoftOrange .dxreDlgHyperlinkForm {
    width: 380px;
}
.dxreControl_SoftOrange .dxreDlgTabsForm {
    width: 380px;
}
.dxreControl_SoftOrange .dxreDlgTabsForm .dxreDlgTabsList {
    height: 70px;
}
.dxreControl_SoftOrange .dxreMultiLevelNumberingListBox {
    width: 30px;
    height: 195px;
}
.dxreControl_SoftOrange .dxreDlgBulletedListForm .dxreDlgBulletPresetBtn {
    width: 45px;
    margin: 8px 0px 12px 5px;
}
.dxreControl_SoftOrange .dxreDlgListBox {
    padding: 1px;
}
.dxreControl_SoftOrange .dxreDlgSymbolsForm .dxreDlgSymbolsList {
    width: 500px;
    height: 250px;
    border: 1px solid #A0A0A0;
}
.dxreControl_SoftOrange .dxreDlgListBox > div {
    border: 1px solid #A0A0A0;
    margin: 1px;
}
.dxreControl_SoftOrange .dxreDlgSymbolsForm .dxreDlgListBox > div {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: large;
}
.dxreControl_SoftOrange .dxreDlgNumberingListForm .dxreDlgListBox > div {
    width: 120px;
    height: 120px;
    line-height: 120px;
}
.dxreControl_SoftOrange .dxreDlgNumberingListForm .dxreDlgNumberingListPreview {
    padding: 10px;
    width: 90px;
    height: 90px;
}
.dxreControl_SoftOrange .dxreDlgListBox div.dxreDlgListHover {
    background-color: #FF9460;
    color: #FFF;
}
.dxreControl_SoftOrange .dxreDlgListBox .dxreDlgListSelected {
    background-color: #D3D3D3;
}
