<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="settings"
				type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
				requirePermission="false"/>
			<section name="compression"
				type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
				requirePermission="false"/>
			<section name="themes"
				type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
				requirePermission="false"/>
			<section name="errors"
				type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
				requirePermission="false"/>
			<section name="resources"
				type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
				requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="App-MainConnectionString"
			connectionString="Data Source=JMANN-DEV;Initial Catalog=Streamline_Live;UID=sms;Password=!sms5678$;MultipleActiveResultSets=True;"
			providerName="System.Data.SqlClient"/>
		<add name="App-NewMerchConnectionString"
			connectionString="Data Source=JMANN-DEV;Initial Catalog=NewMerchandise;UID=sms;Password=!sms5678$;MultipleActiveResultSets=True;"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="524288"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="2000"/>
		<globalization uiCulture="auto" culture="auto"/>
		<identity impersonate="false"/>
		<customErrors mode="Off" defaultRedirect="~/system/sys_Error.aspx"/>
		<pages theme="" validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never">
			<controls>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeList"
					assembly="DevExpress.Web.ASPxTreeList.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.ASPxHtmlEditor"
					assembly="DevExpress.Web.ASPxHtmlEditor.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Data.Linq" assembly="DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			</controls>
		</pages>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="DevExpress.Web.ASPxTreeList.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxHtmlEditor.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Charts.v18.1.Core, Version=18.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraRichEdit.v18.1, Version=18.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.RichEdit.v18.1.Core, Version=18.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxScheduler.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraScheduler.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraPrinting.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraCharts.v18.1, Version=18.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.PivotGrid.v18.1.Core, Version=18.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraPivotGrid.v18.1, Version=18.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraReports.v18.1.Web, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraReports.v18.1.Web.WebForms, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Xpo.v18.1, Version=18.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Data.v18.1, Version=18.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Utils.v18.1, Version=18.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.CodeParser.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxThemes.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DevExpress.XtraScheduler.v18.1.Reporting, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraScheduler.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Printing.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraReports.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraEditors.v18.1, Version=18.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Office.v18.1.Core, Version=18.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="DevExpress.Docs.v18.1, Version=18.1.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraCharts.v18.1.Web, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Data.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Printing.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.RichEdit.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.Resources.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="Microsoft.SqlServer.Types, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/></assemblies>
			<buildProviders>
				<add extension=".rdlc"
					type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
			</buildProviders>
		</compilation>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
					enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5"
					minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<httpHandlers>
			<add path="DX.ashx" verb="GET,POST"
				type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false"/>
			<add path="ASPxUploadProgressHandlerPage.ashx" verb="GET,POST"
				type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
				validate="false"/>
			<add path="*.asmx" verb="*"
				type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true"/>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*"
				type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
				validate="false"/>
			<add validate="false" verb="GET,POST" path="DXXRDV.axd"
				type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add validate="false" verb="GET,POST" path="DXXRD.axd"
				type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add validate="false" verb="GET,POST" path="DXQB.axd"
				type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add validate="false" verb="GET,POST" path="DXXCD.axd"
				type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
		</httpHandlers>
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
				name="ASPxHttpHandlerModule"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
				name="ASPxHttpHandlerModule"/>
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="ASPxHttpHandlerModule"
				type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST"
				path="DX.ashx"/>
			<add name="ASPxUploadProgressHttpHandler"
				type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
				verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" preCondition="integratedMode"/>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd"
				type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
			<add name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRDV.axd"
				type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add name="ASPxReportDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRD.axd"
				type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add name="ASPxQueryBuilderDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXQB.axd"
				type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add name="ASPxChartDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXCD.axd"
				type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2097151000"/>
			</requestFiltering>
		</security>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="info@jmann.com">
				<network host="outbound-west-mx.grouponecloud.com"/>
			</smtp>
		</mailSettings>
	</system.net>
	<appSettings>
		<add key="AccuZipWebService" value="True"/>
		<add key="EmailConfirmationsForWebSpecials" value="True"/>
		<add key="DateFormat" value="MM/dd/yyyy"/>
		<add key="ReportViewerUser" value="srvcSQLReport"/>
		<!-- Used as the user name by the ReportServerConnection class. -->
		<add key="ReportViewerPassword" value="@SQLReport-01$"/>
		<!-- Used as the password by the ReportServerConnection class. -->
		<add key="ReportViewerDomain" value="JMANN"/>
		<!-- Used as the domain by the ReportServerConnection class. -->
		<add key="ReportServerUrl" value="http://localhost/ReportServer_SSRS"/>
		<!-- Used as the report server URL by the ReportServerConnection class. -->
		<add key="ThankYou-DAV-FB" value="http://www.donatedav.org/thank-you-fb.html"/>
		<add key="ThankYou-DAV-GA" value="http://www.donatedav.org/thank-you-ga.html"/>
		<add key="ThankYou-DAV-GS" value="http://www.donatedav.org/thank-you-gs.html"/>
		<add key="ThankYou-VVA-FB" value="http://www.givetoveterans.org/thank-you-fb.html"/>
		<add key="ThankYou-VVA-GA" value="http://www.givetoveterans.org/thank-you-ga.html"/>
		<add key="ThankYou-VVA-GS" value="http://www.givetoveterans.org/thank-you-gs.html"/>
		<add key="ThankYou-UCP-FB" value="http://www.donateucpgg.org/thank-you-fb.html"/>
		<add key="ThankYou-UCP-GA" value="http://www.donateucpgg.org/thank-you-ga.html"/>
		<add key="ThankYou-UCP-GS" value="http://www.donateucpgg.org/thank-you-gs.html"/>
	</appSettings>
	<devExpress>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="True"/>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font=""/>
		<errors callbackErrorRedirectUrl=""/>
		<settings rightToLeft="false" doctypeMode="Xhtml" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" accessibilityCompliant="false"
			checkReferencesToExternalScripts="false" bootstrapMode="Bootstrap3" protectControlState="true"/>
	</devExpress>
	<system.diagnostics>
		<switches>
			<add name="ConnectionPoolPerformanceCounterDetail" value="4"/>
		</switches>
	</system.diagnostics>
</configuration>
