<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="ConnStr" value="Data Source=(local);Initial Catalog=Streamline_Live;UID=sms;Password=!sms5678$;MultipleActiveResultSets=True;" />
	</appSettings>
	<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GeocoderService_V04_01Soap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="GeocoderService_V04_01Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://geoservices.tamu.edu/Services/Geocode/WebService/GeocoderService_V04_01.asmx"
                binding="basicHttpBinding" bindingConfiguration="GeocoderService_V04_01Soap"
                contract="ServiceReference1.GeocoderService_V04_01Soap" name="GeocoderService_V04_01Soap" />
            <endpoint address="http://geoservices.tamu.edu/Services/Geocode/WebService/GeocoderService_V04_01.asmx"
                binding="customBinding" bindingConfiguration="GeocoderService_V04_01Soap12"
                contract="ServiceReference1.GeocoderService_V04_01Soap" name="GeocoderService_V04_01Soap12" />
        </client>
    </system.serviceModel>
</configuration>