.dxreControl_RedWine
{
	border-style: solid;
	border-width: 1px;
	border-color: #A74768;
	font: 12px Tahoma, Geneva, sans-serif;
}
.dxreControl_RedWine .dxre-rulerWrapper {
	padding-top: 2px;
    background-color: #EFE1E8;
}
.dxreControl_RedWine .dxre-ruler .dxre-columnHandleLeftPart,
.dxreControl_RedWine .dxre-ruler .dxre-columnHandleRightPart {
    width: 5px;
    background-color: #bcb8b8;
}
.dxreControl_RedWine .dxre-ruler .dxre-rulerDivisions,
.dxreControl_RedWine .dxre-ruler .dxre-rulerDivisions div,
.dxreControl_RedWine .dxre-ruler .dxre-rulerMarginLeftPanel,
.dxreControl_RedWine .dxre-ruler .dxre-rulerMarginRightPanel,
.dxreControl_RedWine .dxre-ruler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_RedWine .dxre-ruler .dxre-rulerMarginRightHandlePanel,
.dxreControl_RedWine .dxre-ruler .dxre-columnHandle,
.dxreControl_RedWine .dxre-ruler .dxre-columnHandle > div {
	height: 12px;
}
.dxreControl_RedWine .dxre-ruler .dxre-rulerDivisions,
.dxreControl_RedWine .dxre-rulerWrapper .dxre-rulertabAlignBox > div {
    background-color: #fff;
}
.dxreControl_RedWine .dxre-ruler .dxre-rulerMarginLeftPanel,
.dxreControl_RedWine .dxre-ruler .dxre-rulerMarginRightPanel,
.dxreControl_RedWine .dxre-ruler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_RedWine .dxre-ruler .dxre-rulerMarginRightHandlePanel,
.dxreControl_RedWine .dxre-ruler .dxre-columnHandle,
.dxreControl_RedWine .dxre-rulerWrapper .dxre-rulertabAlignBox {
    background-color: #d3d3d3;
}
.dxreControl_RedWine .dxre-ruler .dxre-rulerDivisions .dxre-rulerMinorDivision,
.dxreControl_RedWine .dxre-ruler .dxre-rulerDivisions .dxre-rulerMajorDivision {
	border-left: 1px solid #a3a3a3;
}
.dxreControl_RedWine .dxre-ruler .dxre-rulerDivisions .dxre-rulerNumberDivision {
	color: #4e4e4e;
}
.dxreControl_RedWine .dxre-rulerLine {
	border-left: 1px dashed #717171;
}
.dxreControl_RedWine .dxre-leftIdentDragHandleBody {
    background-color: white;
    border: 1px solid #929292;
    border-top: none;
    height: 6px;
    box-sizing: border-box;
}
.dxreControl_RedWine .dxrControl_RedWine .dxr-minBtn 
{
	padding-right: 7px;
}
.dxreControl_RedWine .dxrControl_RedWine .dxtcLite_RedWine
{
	background-color: #BE7790;
}
.dxreControl_RedWine .dxrControl_RedWine .dxtcLite_RedWine .dxtc-leftIndent
{
	width: 3px;
}
.dxreControl_RedWine .dxrControl_RedWine .dxtcLite_RedWine > .dxtc-stripContainer
{
    border-style: none;
}
.dxreControl_RedWine .dxrControl_RedWine .dxr-tabContent 
{
	border-left-style: none;
	border-right-style: none;
    border-bottom-color: #A74768;
}
.dxreControl_RedWine .dxre-page 
{
    border: 1px solid #808080;
}
.dxreControl_RedWine .dxre-view 
{
	background: #EFE1E8;
}
.dxreControl_RedWine .dxre-bar 
{
	background-color: #EFEFEF;
	border-top: 1px solid #D5D5D5;
    height: 22px;
}
.dxreControl_RedWine .dxre-bar .dxre-loadingPanel {
    float: right;
    margin: 2px 2px 0 0;
    color: #000;
}
.dxreControl_RedWine .dxre-bar .dxre-loadingPanel .dx {
    line-height: 0;
}
.dxreControl_RedWine .dxre-bar .dxre-loadingPanel .dxlp-loadingImage {
    width: 18px;
    height: 18px;
    background: url('../Web/Loading.gif');
}

/*Dialogs Style*/
.dxreControl_RedWine .dxreDlgParagraphForm .dxtc-content {
    width: 430px;
    height: 290px;
}
.dxreControl_RedWine .dxreDlgPageSetupForm .dxtc-content {
    width: 350px;
    height: 230px;
}
.dxreControl_RedWine .dxreDlgColumnsForm {
    width: 400px;
}
.dxreControl_RedWine .dxreDlgColumnsForm .dxreDlgColumnsEditorMainTable > tbody > tr > td {
    padding: 2px 4px;
}
.dxreControl_RedWine .dxreDlgColumnsForm .dxreDlgColumnsEditor {
    height: 100px;
}
.dxreControl_RedWine .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgTextBox {
    width: 40px;
}
.dxreControl_RedWine .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgSpinEdit {
    width: 90px;
}
.dxreControl_RedWine .dxreDlgErrorForm {
    width: 350px;
}
.dxreControl_RedWine .dxreDlgCaptionCell {
	padding-left: 5px;
    padding-right: 7px;
    padding-top: 3px;
}
.dxreControl_RedWine .dxreDlgContentCell {
	padding: 11px;
}
.dxreControl_RedWine .dxreDlgHeaderCell {
	padding-bottom: 7px;
}
.dxreControl_RedWine .dxreDlgEmptyLine {
	height: 8px;
}
.dxreControl_RedWine .dxreDlgEditor {
    width: 110px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_RedWine .dxreDlgEditorShort {
    width: 70px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_RedWine .dxreDlgEditorLong {
    width: 170px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_RedWine .dxreDlgFooterBtn {
    width: 80px;
    margin-left: 8px;
}
.dxreControl_RedWine .dxreDlgPageSetupApplyTo {
	bottom: 70px;
	left: 23px;
}
.dxreControl_RedWine .dxreDlgTypeRadionButtonListCell {
	padding-bottom: 10px;
}
.dxreControl_RedWine .dxreDlgFooter {
	height: 27px;
	padding: 10px 10px 11px 10px;
    background-color: #EED8E3;
    border-top: solid 1px #CB9FB4;
}
.dxreControl_RedWine .dxreDlgInsertImageForm .dxreDlgImagePreview {
    padding-top: 10px;
}
.dxreControl_RedWine .dxreDlgInsertImageForm .dxreDlgImagePreviewCell {
    height: 170px;
    color: #808080;
    border: dashed 1px #808080;
}
.dxreControl_RedWine .dxreDlgInsertImageForm .dxreDlgImagePreviewCell img {
    width: 180px;
    height: 100px;
}
.dxreControl_RedWine .dxreDlgInsertImageForm .dxreDlgInsertImagePanel {
    width: 315px;
}
.dxreControl_RedWine .dxreDlgNumberingListForm .dxreDlgMainContainer {
    width: 520px;
    height: 220px;
}
.dxreControl_RedWine .dxreDlgHyperlinkForm {
    width: 380px;
}
.dxreControl_RedWine .dxreDlgTabsForm {
    width: 380px;
}
.dxreControl_RedWine .dxreDlgTabsForm .dxreDlgTabsList {
    height: 70px;
}
.dxreControl_RedWine .dxreMultiLevelNumberingListBox {
    width: 40px;
    height: 195px;
}
.dxreControl_RedWine .dxreDlgBulletedListForm .dxreDlgBulletPresetBtn {
    width: 45px;
    margin: 8px 0px 12px 5px;
}
.dxreControl_RedWine .dxreDlgListBox {
    padding: 1px;
}
.dxreControl_RedWine .dxreDlgSymbolsForm .dxreDlgSymbolsList {
    width: 500px;
    height: 250px;
    border: 1px solid #BC758E;
}
.dxreControl_RedWine .dxreDlgListBox > div {
    border: 1px solid #BC758E;
    margin: 1px;
}
.dxreControl_RedWine .dxreDlgSymbolsForm .dxreDlgListBox > div {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: large;
}
.dxreControl_RedWine .dxreDlgNumberingListForm .dxreDlgListBox > div {
    width: 120px;
    height: 120px;
    line-height: 120px;
}
.dxreControl_RedWine .dxreDlgNumberingListForm .dxreDlgNumberingListPreview {
    padding: 10px;
    width: 90px;
    height: 90px;
}
.dxreControl_RedWine .dxreDlgListBox .dxreDlgListHover {
    background-color: #DBBBDA;
}
.dxreControl_RedWine .dxreDlgListBox .dxreDlgListSelected {
    background-color: #AD275C;
    color: #FFF;
}
