.dxreControl_Office2003Blue
{
	border-style: solid;
	border-width: 1px;
	border-color: #002D96;
	font: 12px Tahoma, Geneva, sans-serif;
}
.dxreControl_Office2003Blue .dxre-rulerWrapper {
	padding-top: 2px;
    background-color: #EDF3FF;
}
.dxreControl_Office2003Blue .dxre-ruler .dxre-columnHandleLeftPart,
.dxreControl_Office2003Blue .dxre-ruler .dxre-columnHandleRightPart {
    width: 5px;
    background-color: #bcb8b8;
}
.dxreControl_Office2003Blue .dxre-ruler .dxre-rulerDivisions,
.dxreControl_Office2003Blue .dxre-ruler .dxre-rulerDivisions div,
.dxreControl_Office2003Blue .dxre-ruler .dxre-rulerMarginLeftPanel,
.dxreControl_Office2003Blue .dxre-ruler .dxre-rulerMarginRightPanel,
.dxreControl_Office2003Blue .dxre-ruler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_Office2003Blue .dxre-ruler .dxre-rulerMarginRightHandlePanel,
.dxreControl_Office2003Blue .dxre-ruler .dxre-columnHandle,
.dxreControl_Office2003Blue .dxre-ruler .dxre-columnHandle > div {
	height: 12px;
}
.dxreControl_Office2003Blue .dxre-ruler .dxre-rulerDivisions,
.dxreControl_Office2003Blue .dxre-rulerWrapper .dxre-rulertabAlignBox > div {
    background-color: #fff;
}
.dxreControl_Office2003Blue .dxre-ruler .dxre-rulerMarginLeftPanel,
.dxreControl_Office2003Blue .dxre-ruler .dxre-rulerMarginRightPanel,
.dxreControl_Office2003Blue .dxre-ruler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_Office2003Blue .dxre-ruler .dxre-rulerMarginRightHandlePanel,
.dxreControl_Office2003Blue .dxre-ruler .dxre-columnHandle,
.dxreControl_Office2003Blue .dxre-rulerWrapper .dxre-rulertabAlignBox {
    background-color: #d3d3d3;
}
.dxreControl_Office2003Blue .dxre-ruler .dxre-rulerDivisions .dxre-rulerMinorDivision,
.dxreControl_Office2003Blue .dxre-ruler .dxre-rulerDivisions .dxre-rulerMajorDivision {
	border-left: 1px solid #a3a3a3;
}
.dxreControl_Office2003Blue .dxre-ruler .dxre-rulerDivisions .dxre-rulerNumberDivision {
	color: #4e4e4e;
}
.dxreControl_Office2003Blue .dxre-rulerLine {
	border-left: 1px dashed #717171;
}
.dxreControl_Office2003Blue .dxre-leftIdentDragHandleBody {
    background-color: white;
    border: 1px solid #929292;
    border-top: none;
    height: 6px;
    box-sizing: border-box;
}
.dxreControl_Office2003Blue .dxrControl_Office2003Blue .dxr-minBtn 
{
	padding-right: 7px;
}
.dxreControl_Office2003Blue .dxrControl_Office2003Blue .dxtcLite_Office2003Blue
{
	background-color: #DDECFE;
}
.dxreControl_Office2003Blue .dxrControl_Office2003Blue .dxr-tabContent 
{
	border-left-style: none;
	border-right-style: none;
}
.dxreControl_Office2003Blue .dxrControl_Office2003Blue .dxtcLite_Office2003Blue.dxtc-top .dxtc-leftIndent
{
	width: 3px;
}
.dxreControl_Office2003Blue .dxre-page 
{
    border: 1px solid #808080;
}
.dxreControl_Office2003Blue .dxre-view 
{
	background: #EDF3FF;
}
.dxreControl_Office2003Blue .dxre-bar 
{
	background-color: #DDECFE;
	border-top: 1px solid #4f93e3;
    height: 22px;
}
.dxreControl_Office2003Blue .dxre-bar .dxre-loadingPanel {
    float: right;
    margin: 2px 2px 0 0;
    color: #749bca;
}
.dxreControl_Office2003Blue .dxre-bar .dxre-loadingPanel .dx {
    line-height: 0;
}
.dxreControl_Office2003Blue .dxre-bar .dxre-loadingPanel .dxlp-loadingImage {
    width: 18px;
    height: 18px;
    background: url('reLoadingOnStatusBar.gif');
}

/*Dialogs Style*/
.dxreControl_Office2003Blue .dxreDlgParagraphForm .dxtc-content {
    width: 430px;
    height: 290px;
}
.dxreControl_Office2003Blue .dxreDlgPageSetupForm .dxtc-content {
    width: 350px;
    height: 230px;
}
.dxreControl_Office2003Blue .dxreDlgColumnsForm {
    width: 400px;
}
.dxreControl_Office2003Blue .dxreDlgColumnsForm .dxreDlgColumnsEditorMainTable > tbody > tr > td {
    padding: 2px 4px;
}
.dxreControl_Office2003Blue .dxreDlgColumnsForm .dxreDlgColumnsEditor {
    height: 100px;
}
.dxreControl_Office2003Blue .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgTextBox {
    width: 40px;
}
.dxreControl_Office2003Blue .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgSpinEdit {
    width: 90px;
}
.dxreControl_Office2003Blue .dxreDlgErrorForm {
    width: 350px;
}
.dxreControl_Office2003Blue .dxreDlgCaptionCell {
	padding-left: 5px;
    padding-right: 7px;
    padding-top: 3px;
}
.dxreControl_Office2003Blue .dxreDlgContentCell {
	padding: 11px;
}
.dxreControl_Office2003Blue .dxreDlgHeaderCell {
	padding-bottom: 7px;
}
.dxreControl_Office2003Blue .dxreDlgEmptyLine {
	height: 8px;
}
.dxreControl_Office2003Blue .dxreDlgEditor {
    width: 110px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_Office2003Blue .dxreDlgEditorShort {
    width: 70px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_Office2003Blue .dxreDlgEditorLong {
    width: 170px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_Office2003Blue .dxreDlgFooterBtn {
    width: 80px;
    margin-left: 8px;
}
.dxreControl_Office2003Blue .dxreDlgPageSetupApplyTo {
	bottom: 70px;
	left: 23px;
}
.dxreControl_Office2003Blue .dxreDlgTypeRadionButtonListCell {
	padding-bottom: 10px;
}
.dxreControl_Office2003Blue .dxreDlgFooter {
	height: 27px;
	padding: 10px 11px 11px 10px;
    background-color: #CFE1F9;
    border-top: Solid 1px #7BA4E0;
}
.dxreControl_Office2003Blue .dxreDlgInsertImageForm .dxreDlgImagePreview {
    padding-top: 10px;
}
.dxreControl_Office2003Blue .dxreDlgInsertImageForm .dxreDlgImagePreviewCell {
    height: 170px;
    color: #808080;
    border: dashed 1px #808080;
}
.dxreControl_Office2003Blue .dxreDlgInsertImageForm .dxreDlgImagePreviewCell img {
    width: 180px;
    height: 100px;
}
.dxreControl_Office2003Blue .dxreDlgInsertImageForm .dxreDlgInsertImagePanel {
    width: 315px;
}
.dxreControl_Office2003Blue .dxreDlgNumberingListForm .dxreDlgMainContainer {
    width: 520px;
    height: 220px;
}
.dxreControl_Office2003Blue .dxreDlgHyperlinkForm {
    width: 380px;
}
.dxreControl_Office2003Blue .dxreDlgTabsForm {
    width: 380px;
}
.dxreControl_Office2003Blue .dxreDlgTabsForm .dxreDlgTabsList {
    height: 70px;
}
.dxreControl_Office2003Blue .dxreMultiLevelNumberingListBox {
    width: 40px;
    height: 195px;
}
.dxreControl_Office2003Blue .dxreDlgBulletedListForm .dxreDlgBulletPresetBtn {
    width: 45px;
    margin: 8px 0px 12px 5px;
}
.dxreControl_Office2003Blue .dxreDlgListBox {
    padding: 1px;
}
.dxreControl_Office2003Blue .dxreDlgSymbolsForm .dxreDlgSymbolsList {
    width: 500px;
    height: 250px;
    border: 1px solid #6A8CCB;
}
.dxreControl_Office2003Blue .dxreDlgListBox > div {
    border: 1px solid #6A8CCB;
    margin: 1px;
    background-color: #FFF;
}
.dxreControl_Office2003Blue .dxreDlgSymbolsForm .dxreDlgListBox > div {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: large;
}
.dxreControl_Office2003Blue .dxreDlgNumberingListForm .dxreDlgListBox > div {
    width: 120px;
    height: 120px;
    line-height: 120px;
}
.dxreControl_Office2003Blue .dxreDlgNumberingListForm .dxreDlgNumberingListPreview {
    padding: 10px;
    width: 90px;
    height: 90px;
}
.dxreControl_Office2003Blue .dxreDlgListBox .dxreDlgListHover {
    background-color: #CCE2FC;
}
.dxreControl_Office2003Blue .dxreDlgListBox .dxreDlgListSelected {
    background-color: #FFC076;
}
